#maze-container .w{
    background: yellowgreen;
    background-image: url("../img/stone_bricks.png");
    float: left;
    z-index: 1;
}

#maze-container .b{
    background: #222;
    background-image: url("../img/grass_top.png");
    float: left;
    z-index: 1;
    text-align: center;
    line-height: 25px;
}

#maze-container .letter{
    background-image: url("../img/scroll_grass.png");
}

#maze-container .player{
    background-image: url("../img/Duane_Front.gif");
    position: absolute;
    z-index: 3;
}

#maze-container .exit{
    background-image: url("../img/warp.png");
    position: absolute;
    z-index: 2;
}